target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.idea/
*/.DS_Store
*.ipr
*.iml
*.iws
*/*.iml
*/*.log

# Compiled class file
*.class

# Eclipse
.project
.classpath
.settings/

# out
**/out/


# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar
*.tar.gz
*.rar
*.pid
*.orig